html {
    height: 100%;
}

body {
    background-image: linear-gradient(#8e9eab, #eef2f3);
    font-family: 'Dosis', sans-serif;
    font-size: 1.10rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.card1 {
    background-color: antiquewhite;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(80, 51, 13);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(46, 29, 7);
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    flex: 2;
    text-align: justify;
    padding-right: 100px;
    padding-left: 2.5%;
}

.herobox2 {
    flex: 1;
}

#dog {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#logo {
    width: 200px;
    height: 200px;
}