body {
    background-color: thistle;
    font-family: 'Dosis', sans-serif;
    font-size: 1.10rem;
}

.container {
    width: 1024px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: 15px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 11px 25px 11px 25px; 
    border-radius: 15px;
    display: inline-block; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);   
}

i {
    padding: 10px;
}

.cita:hover {
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.blog:hover {
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.contacto:hover {
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
}


main {
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#cita {
    color: red;
    text-decoration: none;
    border: 2px dotted black;
    padding: 11px 25px 11px 25px; 
    border-radius: 15px;
    display: inline-block; 
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
}

#cita:hover {
    border: 2px solid black;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.cards{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.card1 {
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 20%;
    border-radius: 50%;
    margin-left: 15%;
    transition: opacity 0.5s ease;
    box-shadow: 2px 2px 2px black;
}

.card1:hover {
    opacity: 0.5;
    box-shadow: 2px 2px 5px black;
}

.card2 {
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 20%;
    border-radius: 50%;
    transition: opacity 0.5s ease;
    box-shadow: 2px 2px 2px black;
}

.card2:hover {
    opacity: 0.5;
    box-shadow: 2px 2px 5px black;
}

.card3 {
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 20%;
    border-radius: 50%;
    margin-right: 15%;
    transition: opacity 0.5s ease;
    box-shadow: 2px 2px 2px black;
}

.card3:hover {
    opacity: 0.5;
    box-shadow: 2px 2px 5px black;
  }

.herobox1 {
    flex: 2;
    text-align: justify;
    padding-right: 100px;
    padding-left: 2.5%;
}

.herobox2 {
    flex: 1;
}

#dog {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#logo {
    width: 200px;
    height: 200px;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 2%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 50px;
    text-align: justify;
}

.tbox:hover {
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
} 

.tbox p:last-of-type {
    font-size: 0.9rem;
    padding-left: 30px;
}